<div class="dashboard-background general-background">

  <div class="toolbar">
    <a [routerLink]="['/dashboard/']">
      <img
        height="40"
        alt="Classard Logo"
        src="./../../../../assets/img/logo/logo-med-t-c.png"
      />
    </a>
      
    <!--span>Welcome</span-->
    <div class="spacer"></div>
    <div class="rigth-element">
      <a href="https://twitter.com/angular" title="">
        Cerrar Sesión
      </a>
    </div>
  </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
    
</div>
